body{
    font-family: 'Island Moments', cursive;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
h3{
    font-size: 50px;
}
p{
    font-size: 30px;
}
.contener{
    display: flex;
    margin-bottom: 100px;
}
.hafe{
    width: 50%;
    margin-left: 2%;
}
.hafe img{
    width: 80%;
}
.button{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-radius: 5px;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}

.big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.item{
    border-left: 5px solid tomato;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px gray;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web{
    border-left: 7px solid; 
    border-image: linear-gradient (blue, cyan,);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}